body, html{
    background-color: rgba(0, 0, 0, 0.83);
}

p, #message {
    font-family: arial;
    font-weight: bold;
    font-size: 1.0em;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: none;
}
.server{
    color: #747009;
    font-style: italic;
}
.sender{

    color: #57457c;
}
.you{
    color: dodgerblue;
}
.pm, .message-msg-pm{
    color: fuchsia;
}
.pm-sender, .message-msg-pm-sender{
    color: #970097;
    font-style: italic;
}
#message {
    background-color: transparent;
    border-top-color: #fff;
}
.message-msg p, #message{
    color: #bab7a6;
}
