body, html{
    background-color: #ffffff;
}

.server, .you, .sender, .pm, .pm-sender{
    font-weight: bold;
}
.server{
    color: #0ebf0e;
    font-style: italic;
}
.sender{

    color: #57457c;
}
.you, .you a:link, .you a:visited, .you a:active {
    color: #1a63bf;
    text-decoration: none;
}
.sender, .sender a:link, .sender a:visited, .sender a:active {
    color: #57457c;
    text-decoration: none;
}
.pm, .pm a:link, .pm a:visited, .pm a:active, .message-msg-pm p {
    color: fuchsia;
    text-decoration: none;
}
.you a:hover, .sender a:hover, .pm a:hover{
    text-decoration: underline;
}

.message-msg-pm p, .message-msg p{
    font-weight: normal;
}

.message-msg p{
    color: #000;
}

.pm-sender, .message-msg-pm-sender{
    color: #970097;
    font-style: italic;
}
#online-users p, .message-msg-pm-sender p{
    color: #000;
    font-weight: normal;
}
#online-users p{
    font-size: 1.1em;
}
#online-users a:link, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
#online-users a:hover{
    text-decoration: underline;
}
#online-users h1{
    font-size: 1.3em;
}
#online-users h2{
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #000;
}
.online-users-room{
    font-weight: bold;
    color: #000;
}
#message {
    background-color: transparent;
    border-top-color: #000;
}
#message, .send-message input, .online-users-room, {
    color: green;
}