/*reset*/
*{padding:0;outline:0;border:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body, html {
    height: 100%;
    background-color: #181818;
}

iframe, table{
    border:none;
}

h1, h2, h3, p, a, input{
    font-family: "Segoe UI", arial;
    font-weight: inherit;
    font-style: inherit;
    font-size: 1.0em;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}
h1{
    font-size: 4.5em;
}
.small-title{
    font-size: 2.5em;
}
h2{
    font-size: 2.0em;
}
h3{
    font-size: 1.5em;
}
a:link, a:visited, a:active{
    color: #fff;
}
#create-room-form{
    height: 30px;
}
#create-room-name{
    border: 1px solid #000;
    border-radius: 7px 0px 0px 7px;
    background-color: rgba(115, 115, 115, 0.67);
    color: #fff;
    padding: 10px;
    width: 55%;

    -webkit-box-shadow: inset 4px -1px 28px -4px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 4px -1px 28px -4px rgba(0,0,0,0.8);
    box-shadow: inset 4px -1px 28px -4px rgba(0,0,0,0.8);
}
#create-room-submit, #random-room-submit{
    border: 1px solid #000;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 30%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 88%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(21%, rgba(102,102,102,1)), color-stop(30%, rgba(71,71,71,1)), color-stop(39%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(88%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 30%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 88%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 30%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 88%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 30%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 88%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 21%, rgba(71,71,71,1) 30%, rgba(44,44,44,1) 39%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 88%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
    padding: 10px;
    color: #fff;
}
#create-room-submit{
    width: 110px;
    border-radius: 0px 7px 7px 0px;
}

#random-room-submit{
    border-radius: 7px;
}
