/*reset*/
*{padding:0;outline:0;border:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body, html {
    height: 100%;
    background-color: #181818;
}

iframe, table{
    border:none;
}
.border{
	border: 1px solid red;
}
.textAlignMiddle{
	text-align: center;
}
h1, h2, h3, p, a, input{
    font-family: 'National Light', "Segoe UI", arial;
    font-weight: inherit;
    font-style: inherit;
    font-size: 1.0em;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}
h1{
    font-size: 4.5em;
}
.small-title{
    font-size: 2.5em;
    margin-top: 20px;
}
h2{
    font-size: 1.7em;
    font-weight: normal;
}
h3{
    font-size: 1.5em;
}
a:link, a:visited, a:active{
    color: #fff;
}
.overflowAuto{
	overflow: auto;
}
#logo{
	width: 150px;
	margin-top: 10%;
	margin-bottom: 50px;
}
#beta{
	color: #ff3434;
	text-shadow: 2px 2px 3px #000;
}
.create-room-form{
	margin-top: 50px;
    min-height: 30px;
}
.create-room-name{
	border: 5px solid #ff4800;
	padding: 15px;
	font-size: 1.7em;
	font-color: #FFF;
	background-color: transparent;
}
.create-room-name::-webkit-input-placeholder{
	color: #FFF;
	font-style: italic;
}
.create-room-name::-moz-placeholder {
   color:    #FFF;
}
.create-room-name:-ms-input-placeholder {
   color:    #FFF;
}
.create-room-submit, #random-room-submit{

}
.create-room-submit{
	border: 5px solid #ff4800;
	background-color: #ff4800;
	padding: 15px;
	font-size: 1.7em;
}

.button{
	
	padding: 15px;
	font-size: 1.7em;
	font-color: #FFF;
	background-color: #ff4800;
	display: inline-block;
	margin-top: 70px;
	
}

#infoContainer{
	height: 800px;
	background-color: #000;
	display: none;
	padding: 20px;
}
#infoContainer h2{
	margin-bottom: 20px;
}
#infoContainer p{
	margin-bottom: 10px;
	font-size: 1.2em;
}
#infoContainer a{
	text-decoration: underline;
}
.container{
	width: 100% !important;
}
#randomize{
	width: 230px;
}
#questionLarge{
	width: 70px;
	height: 70px;
	position: fixed; bottom:0;right:0;
	z-index: 999;
}
#questionSmall{
	width: 230px;
	z-index: 999;
}
.fixedRandomHeight{
	height: 160px;
}
.button:hover{
	text-decoration: none;
}
